.gemBag{
	position: absolute;
	bottom: 0px;
	right: 20px;
	cursor: pointer;
}
.gemBag p{
	position: absolute;bottom: 0px;
	color: #fff;
	left: -50%;
	text-align: center;
	width: 200%;
	z-index: 2;
	font-size: 12px;
	font-weight: bold;
}
.stroke::before {
      content: attr(data-text);
      position: absolute;
      -webkit-text-stroke: 3px #0a2b70;
      z-index: -1;
    }
    .gem-item{
	    width: 100%;
	    background: #10172A;
	    border-radius: 10px;
	    cursor: pointer;
	    position: relative;
	    user-select: none;
    }
    .gem-border.active.border_100{
	    border: 2px solid #FB4001;
	}
	.gem-border.active.border_200{
		border: 2px solid #99FB4D;
	}
    .gem-border.active.border_300{
	    border: 2px solid #2D73F8;
    }
    .gem-border.active.border_400{
	    border: 2px solid #F9CB50;
    }
    .gem-num{
	    position: absolute;right: 5px;bottom: 2px;
	    color: #92B9FD;
	    font-size: 12px;
    }
    .gem-tab{
	    list-style: none;
	    text-align: left;
	    height: 50px;
	    position: relative;
	    bottom: -2px;
    }
    .gem-tab li{
	    display: inline-block;
	    width: 60px;
	    height: 50px;
	    margin-left: 5px;
	    border-top-left-radius: 5px;
	    border-top-right-radius: 5px;
	    cursor: pointer;
	    padding: 0px !important;
	    text-align: center;
    }
    #apply-info-table{
	    
    }
    #apply-info-table td{
	    border: 1px solid #324374;
	    min-width: 150px;
	    padding: 3px 10px;
    }

    .rule-table{
	    width: 100% !important;
	    min-width: 0px !important;
    }

    .gem-select-item{
	    margin: 5px;
	    height: 45px;
	    
    }

    .gem-select-item img{
	border-radius: 16px;
	height: 45px;
	width: 45px;
    }

    .gem-select-item.active img{
	background: rgba(255,255,255,0.5);
    }

    @media (max-width: 768px) {
	#gem-apply-type{
		zoom: 0.6;
	}
}