.data-view-content{
	background: #161331a6;
	border-radius: 16px;
}
.num-notice{
	position: absolute;
	padding: 5px;
	right: -5px;
	top: -10px;
	display: block;
	background: #ff3643e5;
	border-radius: 50px;
	font-size: 10px;
	font-weight: bold;
	line-height: 12px;
}
.g-item-icon{
	position: absolute;
	width: 70%;
	top: 5px;
	left: 15%;
	z-index: 10;
}
.g-item-num{
	position: absolute;
	bottom: 10px;
	text-align: center;
	left: 0px;
	width: 100%;
	font-size: 20px;
	font-weight: bold;
	color: #070D14;
	z-index: 10;
}
.g-item-active{
	width: 100%;
	height: 100%;
	background: linear-gradient(317deg,#aa42ff 0%, #b742ff 100%);
	border-radius: 29px;
	filter: blur(10px);
	-webkit-filter: blur(10px);
	position: absolute;
	top: -2px;
	z-index: 1;
}
.btn-halloween{
	background: none;
	background-image: url('../../../assets/halloween/btnbg.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 40px;
	width: 160px;
	line-height: 38px;
	border: none;
	font-size: 14px;
	font-weight: 200;
	color: #fff;
	cursor: pointer;
	display: inline-block;
}
.btn-halloween3{
	background: none;
	background-image: url('../../../assets/halloween/btnbg3.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 40px;
	width: 160px;
	border: none;
	font-size: 14px;
	font-weight: 200;
	color: #fff;
	cursor: pointer;
	line-height: 38px;
	display: inline-block;
}

#data-box{
	position: absolute;
	left: -50px;
	top: -50px;
	z-index: 10;
}
#data-view-panel{
	max-width: 800px;
	background: #161331;
	border-radius: 16px;
	margin: 0px auto;
	padding: 20px;
	padding-left: 350px;
	position: relative;
}

.center-view{
	max-width: 800px;
	margin: 0px auto;
	padding: 20px;
}

#data-view-panel .aveage-box{
	margin-top: 30px;
}
#data-view-panel  .aveage-box:nth-child(1){
	margin-top: 10px;
}

#data-view{
	width: 100%;
	background: #3a346b80;
	background-image: url("../../../assets/halloween/starbg.png");
	background-size: 1000px;
	border-radius: 14px;
	padding: 40px
}
.hpanel{
	max-width: 1300px;
	background: #161331;
	border-radius: 14px;
	margin: 0px auto;
	border: 3px solid #2f2a61;
}
#bg1{
	background-image: url("../../../assets/halloween/bg1.jpg");
	background-repeat: no-repeat;
	background-size:100%;
	height: 800px;
	width: 100%;
	top: 0px;
	position: absolute;
	z-index: -1;
}
.time span{
	background: #000;
	border: 2px solid #474747;
	border-radius: 8px;
	display: inline-block;
	width: 45px;
	height: 36px;
	line-height: 35px;
	font-weight: bold;
}