#view-detail{
	position: fixed;
	background: rgba(0, 0, 0, 0.7);
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 99999;
	display: flex;
	justify-content: center;
	align-items: center;
}
#view-detail-cont{
	background: #161331;
	border: 1px solid #3c3586;
	border-radius: 13px;
	box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25); 
	padding: 20px;
}
#view-detail-cont .g-item{
	zoom: 0.7;
	margin: 10px;
}
#ng{
	position: absolute;
	right: 300px;
	top: -250px;
	transform: rotate(20deg);
}
#ng2{
	position: absolute;
	left: 200px;
	top: -200px;
	transform: rotate(-30deg);
}
#zhizhu{
	position: absolute;
	top: 0px;
	right: 0px;
	transform: rotateY(-180deg);
}
#take-balance{
	position: absolute;
	top:10px;
	right: 0px;
	background: #161331;
	border-radius: 30px 0px 0px 30px;
	padding: 10px;
	padding-right: 0px;
}
.data-view-content{
	background: #161331a6;
	border-radius: 16px;
}
.num-notice{
	position: absolute;
	padding: 5px;
	right: -5px;
	top: -10px;
	display: block;
	background: #ff3643e5;
	border-radius: 50px;
	font-size: 10px;
	font-weight: bold;
	line-height: 12px;
}
.g-item-icon{
	position: absolute;
	width: 70%;
	top: 5px;
	left: 15%;
	z-index: 10;
	cursor: pointer;
}
.g-item-num{
	position: absolute;
	bottom: 10px;
	text-align: center;
	left: 0px;
	width: 100%;
	font-size: 20px;
	font-weight: bold;
	color: #070D14;
	z-index: 10;
}
.g-item-active{
	width: 100%;
	height: 100%;
	background: linear-gradient(317deg,#E79605 0%, #DB5F08 100%);
	border-radius: 29px;
	filter: blur(10px);
	-webkit-filter: blur(10px);
	position: absolute;
	top: -2px;
	z-index: 1;
}
.g-item-price{
	position: absolute;
	width: 100%;
	bottom: -20px;
}
#halloween{
	overflow: hidden;
}
.btn-halloween{
	background: none;
	/* background-image: url('../../../assets/halloween/btnbg.png'); */
	/* background-repeat: no-repeat; */
	background-image: linear-gradient(83deg,#e99d05 0%, #da5c09 100%);
	border-radius: 10px;
	border-bottom: 4px solid #9E4504;
	background-size: contain;
	height: 40px;
	min-width: 160px;
	line-height: 38px;
	font-size: 14px;
	font-weight: 200;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	user-select: none;
}
.btn-halloween2{
	background: none;
	background-image: url('../../../assets/halloween/btnbg2.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 25px;
	width: 63px;
	line-height: 20px;
	border: none;
	font-size: 12px;
	font-weight: 200;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	user-select: none;

}
.btn-halloween3{
	background: none;
	background-image: linear-gradient(78deg,#ae29ff 0%, #780fe2 100%);
	border-radius: 10px;
	border-bottom: 4px solid #810598;
	height: 40px;
	width: 160px;
	font-size: 14px;
	font-weight: 200;
	color: #fff;
	cursor: pointer;
	line-height: 38px;
	display: inline-block;
	user-select: none;

}

#data-box{
	position: absolute;
	left: -50px;
	top: -50px;
	z-index: 10;
}
#data-view-panel{
	max-width: 800px;
	background: #161331;
	border-radius: 16px;
	margin: 0px auto;
	padding: 20px;
	padding-left: 350px;
	position: relative;
}

.center-view{
	max-width: 800px;
	margin: 0px auto;
	padding: 20px;
}

#data-view-panel .aveage-box{
	margin-top: 30px;
}
#data-view-panel  .aveage-box:nth-child(1){
	margin-top: 10px;
}

#data-view{
	width: 100%;
	background: #3a346b80;
	background-image: url("../../../assets/halloween/starbg.png");
	background-size: 1000px;
	border-radius: 14px;
	padding: 40px
}
.hpanel{
	max-width: 1300px;
	background: #161331;
	border-radius: 14px;
	margin: 0px auto;
	border: 3px solid #2f2a61;
}
#bg1{
	background-image: url("../../../assets/halloween/bg1.jpg");
	background-repeat: no-repeat;
	background-size:100%;
	height: 800px;
	width: 100%;
	top: 0px;
	position: absolute;
	z-index: -1;
}
.time span{
	background: #000;
	border: 2px solid #474747;
	border-radius: 8px;
	display: inline-block;
	height: 36px;
	line-height: 35px;
	font-weight: bold;
	padding: 0px 5px;
}

#gui{
	position: absolute;
	width: 60px;
	z-index: 99999;
}

#path{
	position: absolute;
	width: 100%;
	z-index: -66666;
}

@media (max-width: 768px) {
	.g-item{
		zoom: 0.4 !important;
		margin: 10px;
	}
	#data-view{
		padding: 10px !important;
	}
	#ng{
		position: absolute;
		right: -50px;
		top: -280px;
		transform: rotate(20deg);
		height: 70px;
	}
	#ng2{
		position: absolute;
		left: -30px;
		top: -200px;
		transform: rotate(-30deg);
		height: 70px;
	}
	.t1{
		font-size: 40px !important;
	}
	.t2{
		font-size: 30px !important;
	}
	#data-box{
		width: 150px;
		left: 50%;
		top: -80px;
		transform: translateX(-50%);
	}
	#data-view-panel{
		padding-left: 20px;
		padding-top: 100px;
	}
	.hpanel{
		width: 90%;
	}
	#data-view-p{
		margin-top: 80px;
	}
	#rateshow{
		text-align: left;
		padding: 5px 20px;
		padding-bottom: 20px;
	}
	.center-view{
		padding: 10px;
	}
	.center-view .aveage-box{
		margin-top: 10px !important;
	}
	.center-view .aveage-box:first-child{
		margin-top: 0px !important;
	}
	#take-balance{
		position:static;
		background: none;
		text-align: center;
	}
	.btn-halloween2{
		background-image: url('../../../assets/halloween/btnbg4.png');
		background-size: cover;
		width: 56;
		height: 27px;
	}
	#exchange-opr{
		flex-direction: column;
	}
	#exchange-view{
		padding:0px !important;
	}
	#my-score{
		text-align: left;
		border-right: none !important;
		width: 100%;
		border-bottom: 1px solid rgb(54, 48, 120);
		padding-bottom: 10px;
	}
	#my-score > * {
		display: inline-block;
	}
	#my-score > div{
		margin-top: 0px;
		margin-left: 20px;
	}
	#selectsute{
		width: 100%;
		padding-left: 0px !important;
		padding-top: 20px;
	}
	#exchange-btn{
		margin-top: 20px;
		width: 100%;
	}
	.btn-halloween,.btn-halloween3{
		width: 100%;
		margin-left: 0px !important;
	}
	#open-btn-view{
		padding: 5px 20px;
	}
	#mobile-list{
		display: block;
		font-size: 12px;
	}
	#mobile-list .mobile-list-item:last-child{
		border: none;
	}
	#mobile-list .mobile-list-item{
		border-bottom: 1px solid #363078;
		padding: 10px 5px;
	}
	.time{
		zoom: 0.8;
	}
	#selectDay{
		zoom: 0.6;
		top: 70px;
	}

	.new-mobile-tab{
		display: block;
	}
	.new-mobile-tab .dropdown{
		width: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		margin-top: 0px;
	}
	.new-mobile-tab .dropdown-value{
		width: 100% !important;
		border-radius: 14px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}
	.new-mobile-tab .dropdown-list{
		width: 100% !important;
	}
	#pc-tab{
		visibility: hidden;
	}
	.g-item-price{
		zoom: 1.2;
	}
}