
.center-content{
	max-width: 1500px;
	margin: 0px auto;
}
.activity-type-list-item{
	display: inline-block;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	cursor: pointer;
	user-select: none;
}
.activity-type-list-item.active{
	border-bottom: 4px solid #1B54F5;
}

@media (max-width: 768px) {
	#activity-type{
		zoom: 0.8;
	}
}