* {
	padding: 0px;
	margin: 0px;
	font-family: "Microsoft YaHei", 微软雅黑;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-overflow-scrolling:auto;
}

body {
	font-size: 14px;
	padding-bottom: 20px;
}

button{
	line-height: 100%;
}

::-webkit-scrollbar {
	width: 6px;
	height: 9px;
}

::-webkit-scrollbar-thumb {
	background-color: #9999996e;
	border-radius: 6px;
	background-clip: padding-box;
	min-height: 28px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #989898;
	cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none !important;
	margin: 0;
}


input {
	/* font-weight: bold; */
	font-size: 14px;
	user-select: text !important;
}

input::placeholder {
	color: #3a475c;
}

img {
	font-size: 0px !important;
}

a {
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.notice-color{
	color:#8cfece
}

svg {
	user-select: none;
}

#dark {
	background: #070D14;
	color: #fff;
}

#dark a {
	color: #fff;
}

.bg-lv1 {
	background: #8b8b8bb4;
}

.bg-lv2 {
	background: #5b7e2bb4 !important;
}

.bg-lv3 {
	background: #3955a0b4 !important;
}

.bg-lv4 {
	background: #793ea8b4 !important;
}

.bg-lv5 {
	background: #97812fb4 !important;
}

.bg-lv6 {
	background: #8f3433 !important;
}

.c-lv1 {
	color: #ffffff;
	font-weight: bold;
}

.c-lv2 {
	color: #ACC700;
	font-weight: bold;
}

.c-lv3 {
	color: #5DB0FC;
	font-weight: bold;
}

.c-lv4 {
	color: #C05BFF;
	font-weight: bold;
}

.c-lv5 {
	color: #FF7B33;
	font-weight: bold;
}

.c-lv6 {
	color: #FF3B3C;
	font-weight: bold;
}

.pet_hover_lv1 {
	position: relative;
	z-index: 1;
}
.pet_hover_lv1::after{
	content: "";
	background: linear-gradient(45deg,#919191 0%, rgba(0,0,0) 100%);
	position: absolute;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	z-index: -2;
	border-radius: 16px;
}
.pet_hover_lv1::before{
	content: "";
	background: linear-gradient(200deg,#555555 50%, rgba(0,0,0,0.8) 100%);
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	z-index: 1;
	border-radius: 16px;
}

.pet_hover_lv2 {
	position: relative;
	z-index: 1;
}

.pet_hover_lv2::after{
	content: "";
	background: linear-gradient(45deg,#84a850 0%, rgba(0,0,0) 100%);
	position: absolute;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	z-index: -2;
	border-radius: 16px;
}
.pet_hover_lv2::before{
	content: "";
	background: linear-gradient(200deg,#3B4E20 50%, rgba(0,0,0) 100%);
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	z-index: 1;
	border-radius: 16px;
}

.pet_hover_lv3 {
	position: relative;
	z-index: 1;
}

.pet_hover_lv3::after{
	content: "";
	background: linear-gradient(45deg,#405ca8 0%, rgba(0,0,0) 100%);
	position: absolute;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	z-index: -2;
	border-radius: 16px;
}
.pet_hover_lv3::before{
	content: "";
	background: linear-gradient(200deg,#20315F 50%, rgba(0,0,0) 100%);
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	z-index: 1;
	border-radius: 16px;
}

.pet_hover_lv4 {
	position: relative;
	z-index: 1;
}

.pet_hover_lv4::after{
	content: "";
	background: linear-gradient(45deg,#8548b8 0%, rgba(0,0,0) 100%);
	position: absolute;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	z-index: -2;
	border-radius: 16px;
}
.pet_hover_lv4::before{
	content: "";
	background: linear-gradient(200deg,#44255E 50%, rgba(0,0,0,0.8) 100%);
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	z-index: 1;
	border-radius: 16px;
}

.pet_hover_lv5 {
	position: relative;
	z-index: 1;
}

.pet_hover_lv5::after{
	content: "";
	background: linear-gradient(45deg,#c5a941 0%, rgba(0, 0, 0) 100%);
	position: absolute;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	z-index: -2;
	border-radius: 16px;
}
.pet_hover_lv5::before{
	content: "";
	background: linear-gradient(200deg,#75611C 50%, rgb(27, 27, 27) 100%);
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	z-index: 1;
	border-radius: 16px;
}

.pet_hover_lv6 {
	/* border: 2px solid #FF5151 !important; */
	/* box-shadow: 0px 0px 10px 0px #FF5151 inset; */
	/* background: #711918; */
	background: linear-gradient(200deg,#711918 0% rgba(0,0,0,0) 100%);

	/* color: #C26A6B; */
}

.pet_id {
	display: inline-block;
	border-radius: 10px;
	padding: 0px 10px;
	height: 20px;
	line-height: 18px;
	color: #fff;
	font-size: 12px;
	width: 70px;
}

.vertical-children * {
	vertical-align: middle;
}
.vertical-children2{
	display: inline-flex;
	justify-content: center;
	align-items: center;
}


.tal {
	text-align: left;
}

.tac {
	text-align: center;
}

.tar {
	text-align: right;
}

.opa-6 {
	opacity: 0.5;
}
.opa-3 {
	opacity: 0.3;
}

.mgt-5 {
	margin-top: 5px;
}

.mgt-10 {
	margin-top: 10px;
}

.mgt-20 {
	margin-top: 20px;
}

.mgt-30 {
	margin-top: 30px;
}

.mgt-50 {
	margin-top: 50px;
}

.mgl-5 {
	margin-left: 5px;
}

.mgl-10 {
	margin-left: 10px;
}

.mgl-20 {
	margin-left: 20px;
}

.dib {
	display: inline-block;
}

.suffix {
	position: absolute;
	right: 0px;
}

.por {
	position: relative;
}

.color-w {
	color: #fff;
}
.color-danger{
	color: #f56c6c
}

.color-error{
	text-decoration-color: #f56c6c !important;
	color: #f56c6c !important;
}

.small {
	font-size: 12px;
}

.panel {
	background: #1D2B50;
	border-radius: 20px;
	padding: 20px 20px;
	position: relative;
	margin: 20px 0px;
}


.disable-btn {
	/* background: #4e7399 !important;
	color: #7498bd !important; */
	opacity: 0.6;
}

.disable-btn path{
	fill:  #7498bd !important;
}

.btn-default {
	border-radius: 20px;
	height: 33px;
	outline: none;
	/* background-image: linear-gradient(90deg, #ffffff, 50%, #d1d1d1); */
	background: #1D2B50;
	color: #94BBFF;
	border: none;
	cursor: pointer;
	font-size: 14px;
	padding: 0px 20px;
	min-width: 80px;
	text-align: center;
	user-select: none;
	display: inline-block;
}

.btn-success {
	border-radius: 20px;
	height: 33px;
	outline: none;
	background: rgba(161,250,64,0.1);
	color: #A1FA40;
	border: none;
	cursor: pointer;
	font-size: 14px;
	padding: 0px 30px;
	min-width: 80px;
	text-align: center;
	user-select: none;
	display: inline-block;
}
.btn-line {
	height: 35px;
	outline: none;
	color: #fff;
	border-radius: 12px;
	background: #1C222C;
	/* background: linear-gradient(253deg,#e3672a 0%, #fab531 100%); */
	background: none;
	border: none;
	cursor: pointer;
	font-size: 12px;
	padding: 0px 30px;
	min-width: 80px;
	text-align: center;
	user-select: none;
	display: inline-block;
	position: relative;
	z-index: 1;
}
.btn-line::after{
	content: "";
	background: #1C222C;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: -1;
	border-radius: 12px;
}
.btn-line::before{
	content: "";
	position: absolute;
	top: -1px;
	bottom: -1px;
	left: -1px;
	right: -1px;
	background: linear-gradient(253deg,#e3672a 0%, #fab531 100%);
	border-radius: 12px;
	z-index: -2;
	opacity: 1;
	transition: 0.5s all;
}
.btn-line:hover::before,.btn-line:hover::after{
	opacity: 0;
}

.btn-line:hover{
	background: linear-gradient(253deg,#e3672a 0%, #fab531 100%);
}

.btn-primary {
	height: 35px;
	outline: none;
	color: #fff;
	border-radius: 12px;
	background: #1C222C;
	background: linear-gradient(253deg,#e3672a 0%, #fab531 100%);
	border: none;
	cursor: pointer;
	font-size: 12px;
	padding: 0px 30px;
	min-width: 80px;
	text-align: center;
	user-select: none;
	display: inline-block;
	position: relative;
	z-index: 1;
}

.btn-danger {
	border-radius: 20px;
	height: 33px;
	outline: none;
	background-image: linear-gradient(90deg, #a59336, 50%, #af7800);
	color: #fff;
	border: none;
	cursor: pointer;
	font-size: 14px;
	padding: 0px 20px;
	min-width: 80px;
	text-align: center;
	user-select: none;
	display: inline-block;
}

.btn-primary.btn-small {
	min-width: auto !important;
	font-size: 12px;
	height: 28px;
	padding: 0px 12px!important;
}
.btn-default.btn-small {
	min-width: auto !important;
	font-size: 12px;
	height: 28px;
	padding: 0px 12px!important;
}
.btn-success.btn-small {
	min-width: auto !important;
	font-size: 12px;
	height: 28px;
	padding: 0px 12px!important;
}

.btn-advanced {
	border-radius: 20px;
	height: 40px;
	padding: 0px 20px;
	border: none;
	background: none;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	/* box-shadow: 0px 0px 20px 10px #2E597C inset; */
	background-image: linear-gradient(90deg, #57A8F8, 50%, #3C75CA);
	cursor: pointer;
	outline: none;
	user-select: none;
	transition: all 0.3s linear; 
}
.bold{
	font-weight: bold;
}
.fill-100 {
	width: 100%;
}

.gradientText {
	font-weight: bold;
	line-height: 1.15;
	-webkit-background-clip: text;
	background-image: linear-gradient(256deg, #F297E4, 50%, #A7EAFD);
	-webkit-text-fill-color: transparent
}

.search {
	font-size: 25px;
}

.ly-input::placeholder{
	font-size: 16px;
	color: rgb(100, 100, 100);
}

.ly-input {
	border-radius: 8px;
	height:40px;
	outline: none;
	background: #2A2F35;
	border: none;
	color: #fff;
	font-size: 14px;
	padding: 0px 20px;
}

.ly-input-pre-icon {
	position: absolute;
	left: 15px;
	height: 100%;
	display: flex;
	align-items: center;
}

.ly-input-pre-icon img{
	height:70%  !important;
}

.ly-input-content {
	background: #2A3B67;
	padding: 10px;
	border-radius: 8px;
}

.hide {
	display: none;
}

.flip-x {
	transform: rotate(180deg);
}

.cur-point {
	cursor: pointer;
}

.user-select-none {
	user-select: none;
}

.text-big {
	font-size: 16px;
}

.hr-split {
	border: none;
	border-bottom: 4px solid #315184;
	border-radius: 10px;
}

.clear {
	clear: both;
	overflow: hidden;
}

.breakWord {
	word-break: break-all;
}

.absolute-r {
	position: absolute;
	right: 0px;
	top: 0px;
}

.gray {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);

	filter: grayscale(100%);

	filter: gray;
}

.jump-img {
	animation: jump 2s infinite;
}

@keyframes jump {
	0% {
		transform: translate(0px, 0px);
	}

	50% {
		transform: translate(0px, -10px);
	}

	100% {
		transform: translate(0px, 0px);
	}
}

.rotate {
	animation: spin 1000ms infinite linear;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.rule-table {
	border: 1px solid #324374;
	text-align: center;
	min-width: 500px;
	margin: 0px auto;
	margin-top: 20px;
}

.rule-table td {
	padding: 2px 10px;
}

.table-his {
	width: 100%;
	border: none;
}

.table-his tr:nth-of-type(odd) {
	background: #1C222C;
}

.table-his tr {
	height: 40px;
	border: none;
}

.notice{
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: red;
	top: 0px;
	right: 0px;
}

.arrow-down{
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 2px;
	transform: rotate(180deg);
	transition: all 0.2s linear;

}
.history-item table{
	width: 100%;
}
.history-item .row{
	padding: 5px;
}
.history-item{
	background: #000912;
	overflow: hidden;
	border-radius: 5px;
	font-size: 12px;
	padding: 8px;
	transition: all 1s linear;
	margin-bottom: 10px;
}
.history-item.close .arrow-down{
	transform: rotate(0deg);
}
.history-item.close{
	height: 90px;
	overflow: hidden;
}

.pj-table{
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
}

#fly-dot {
	width: 10px;
	height: 10px;
	background: red;
	border-radius: 10px;
	position: absolute;
	z-index: 9999999999;
	left: 0px;
	top: 0px;
	visibility: hidden;
}

.color-buy{
	color: #fa5e5e;
}
.color-sell{
	color: #35a935;
}

.refrash{
	position: absolute;
	right: 0px;
	top: 0px;
	cursor: pointer;
}

.tab-menu {
	border-radius: 8px 8px 0px 0px;
	background: #1C222C;
	display: inline-block;
	opacity: 0.6;
	padding: 5px 15px;
	margin-right: 8px;
	cursor: pointer;
	font-size: 12px;
	user-select: none;
}
.tab-menu:nth-child(1){
	margin-left: 10px;
}

.tab-menu.active {
	background: #1f242c;
	opacity: 1;
}

.tab-body {
	background: #2A3B67;
	border-radius: 8px;
}

.tab-content{
	padding: 15px;
}
.tab-split{
	height: 0.5px;
	background: #303640;
}
.tab-panel{
	background: #182342;
	padding: 10px 10px;
	border-radius: 8px;
}
.tab-panel input{
	background: none;
	border: none;
	padding: 8px 0px;
	color: #94BBFF;
}
.aveage-box{
	display: flex;
	align-items: center;
}
.aveage-box > *{
	flex: 1;
}
.icon-btn{
	background: #182342;
	border: none;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	cursor: pointer;
}
.icon-btn:hover{
	background: #202e55;
}

.text-btn{
	background: none;
	border: none;
	border-radius: 10px;
	color: #94BBFF;
	white-space: nowrap;
	padding: 5px;
	cursor: pointer;
}

.text-btn:hover{
	background: #202e55;
}
.popMsg.left{
	transform: translate(-100%, -20%);
	top: 0px;
	left: -10px;
}
.popMsg.left-top{
	transform: translate(-100%, -50%);
	top: 0px;
	left: -10px;
}
.popMsg.left::after{
	top: 20%;
	left: auto;
	right: 3px;
	transform: rotate(45deg) translate(50%, -50%);
}
.popMsg{
	position: absolute;
	min-width: 240px;
	background: #10172A;
	border-radius: 5px;
	padding: 10px;
	text-align: left;
	line-height: 150%;
	transform: translateX(-50%);
	z-index: 99999;
	top: 22px;
	left: 7px;
	display: none;
	user-select: none;
}
.popMsg::after{
	content: "";
	width: 10px;
	height: 10px;
	background: #10172A;
	/* background: red; */
	position: absolute;
	top: 0px;
	left: 50%;
	transform: rotate(45deg) translate(-50%);
}
.double-img img:nth-child(1){
	position: absolute;
	left: 0px;
}
.double-img img{
	height: 40px;
}
.double-img{
	padding-left: 20px;
}

.ly-checkbox{
	height: 20px;
	width: 20px;
	background: #2A2F35;
	border-radius: 20px;
	display: inline-block;
	cursor: pointer;
}
.ly-checkbox.active svg{
	display: block !important;
}

.gka-harmer {
	width: 51px;
	height: 47px;
	display: inline-block;
	background-image: url("./assets/anime/chuizi.png");
	zoom: 0.8;
}

.animation-harmer {
	width: 51px;
	height: 47px;
	background-image: url("./assets/anime/chuizi.png");
	background-size: 714px 47px;
	background-repeat: no-repeat;
	animation-name: keyframes-chuizi;
	animation-duration: 3s;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
	animation-timing-function: steps(1);
}

@keyframes keyframes-chuizi {
	0% {
		width: 51px;
		height: 47px;
		background-image: url("./assets/anime/chuizi.png");
		background-size: 714px 47px;
	}

	1% {
		background-position: -51px 0px;
	}

	2% {
		background-position: -102px 0px;
	}

	3% {
		background-position: -153px 0px;
	}

	4% {
		background-position: -204px 0px;
	}

	5% {
		background-position: -255px 0px;
	}

	6% {
		background-position: -306px 0px;
	}

	7% {
		background-position: -357px 0px;
	}

	8% {
		background-position: -408px 0px;
	}

	9% {
		background-position: -459px 0px;
	}

	10% {
		background-position: -510px 0px;
	}

	11% {
		background-position: -561px 0px;
	}

	12% {
		background-position: -612px 0px;
	}

	13%,
	100% {
		background-position: -663px 0px;
	}
}

.sleep-harmer{
	position: absolute;
	height: 60px;
	top: -30px;
	right: -20px;
}

.btn-loading{
	position: absolute;
	left: 10px;
	display: inline-block;
	transform: translate(-100%);
}

.split-hr { 
	border: none;
	border-bottom: 1px solid #324374;
}

.btn-group{
	position: relative;
	left: -10px;
}

.btn-group button:not(button[data-step='1']):not(button[data-step='2'])::before{
	content: "";
	width: 3px;
	height: 21.6px;
	background: #4E7399;
	position: absolute;
	right: -17px;
	top: -15.6px;
}
.btn-group button[data-step='2']::before{
	content: "";
	width: 3px;
	height: 21.6px;
	background: #4E7399;
	/* background: linear-gradient(0deg, #4E7399, 50%, #407DD1); */
	position: absolute;
	right: -17px;
	top: -15.6px;
}


.btn-group button::after{
	content: attr(data-step);
	position: absolute;
	right: 0px;
	top: 50%;
	transform: translate(120%, -50%);
	background: #407DD1;
	border-radius: 22px;
	width: 22px;
	height: 22px;
	font-size: 13px;
	justify-content: center;
	text-align: center;
	align-items: center;
	display: inline-flex;
}

.btn-group .disable-btn::after{
	background: #4E7399;
}

.point-block .show-point-block{
	cursor: pointer;
	border-radius: 20px;
	padding: 5px 10px;
	display: inline-flex;
	justify-content: right;
	text-align: right;
	align-items: center;
	user-select: none;
	background: #202e5367;
}

.point-block .show-point-block:hover{
	background: #202e53;
}
.toggle-item{
	display: block;
}
/* .point-block.close{
	height: 30px;
	overflow: hidden;
} */
.point-block.close .toggle-item{
	display: none;
}

.point-block.close .rotate-arrow{
	transform: rotate(0deg);
}
.rotate-arrow{
	transform: rotate(-180deg);
	transition: all 0.2s linear;
}

.dotting {
	display: inline-block; min-width: 2px; min-height: 2px;
	box-shadow: 2px 0 currentColor, 6px 0 currentColor, 10px 0 currentColor; /* for IE9+, ..., 3个点 */
	animation: dot 2s infinite step-start both; /* for IE10+, ... */
}
.dotting:before { content: '...'; } /* for IE8. 若无需兼容IE8, 此行以及下一行删除*/
.dotting::before { content: ''; } /* for IE9+ 覆盖 IE8 */
:root .dotting { margin-right: 8px; } /* for IE9+,FF,CH,OP,SF 占据空间*/

@keyframes dot {
	25% { box-shadow: none; }                                  /* 0个点 */
	50% { box-shadow: 2px 0 currentColor; }                    /* 1个点 */
	75% { box-shadow: 2px 0 currentColor, 6px 0 currentColor;  /* 2个点 */ }
}

.list-item{
	color: #7187C0;
}

.list-item td:last-child{
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.list-item td:first-child{
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.list-item td{
	padding: 10px;
	background: #1D2B50;
	border-left: none;
	border-right: none;
	border-bottom: none;
}





